.about-me {
    color: #B9DCFF;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 100px;
    padding-bottom: 35px;
    padding-left: 40px;

}

.unm-img {
    max-width: 384px;
    height: auto;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
}

.about-me-intro {
    max-width: 600px;
    color: #8EA8C3;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
    font-size: 15px;
    line-height: 26px;
}

.about-deep-dive {
    color: #4fe0dc;
    font-weight: bold;
}

.about-unm {
    color: #4fe0dc;
    font-weight: bold;
}


.about-job {
    list-style-type: none;
    padding-left: 50px;
    color: #8EA8C3;
    font-size: 15px;
    max-width: 300px;
}

.about-job-list {
    list-style-type: circle;
}

li::marker {
    color: #4fe0dc;
    font-weight: bolder;
}


@media (min-width: 768px) {
    .about-me-intro,
    .about-job-list {
        font-size: 18px; /* Increase text size */
        margin-left: 160px; /* Move text to the right */
        padding-right: 1px; /* Increase right padding */
    }

    .about-me {
        font-size: 40px; /* Increase the size of the "/about me" text specifically */
        margin-left: 160px; /* Move text to the right */
    }
}
