.about-me {
    color: #B9DCFF;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 100px;
    padding-bottom: 35px;
    padding-left: 40px;
}

/*about me functionality*/
.about-me-js {
    margin: 1rem 0;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s ease;
}

.about-me-js-visible {
    transform: translateY(0);
    opacity: 1;
}

.unm-img {
    max-width: 350px;
    height: auto;
    margin-top: 20px;
    margin-right: 170px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
}

.about-me-intro {
    max-width: 800px;
    color: #8EA8C3;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
    font-size: 15px;
    line-height: 26px;
}

.about-deep-dive {
    color: #4fe0dc;
    font-weight: bold;
}

.about-unm {
    color: #4fe0dc;
    font-weight: bold;
}


.about-job {
    list-style-type: none;
    padding-left: 50px;
    color: #8EA8C3;
    font-size: 15px;
    max-width: 300px;
}

.about-job-list {
    list-style-type: circle;
}

li::marker {
    color: #4fe0dc;
    font-weight: bolder;
}


@media (min-width: 1024px) {
    .about-me {
        font-size: 40px;
        margin-left: 100px;
    }

    .about-me-intro,
    .about-job-list {
        font-size: 19px;
        margin-left: 100px;
        padding-right: 1px;
        padding-top: 10px;
    }

}
