.experience {
    color: #B9DCFF;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 90px;
    padding-bottom: 35px;
    padding-left: 40px;
}

.button-group {
    text-align: center;
}

.job-one {
    font-size: medium;
    padding-left: 50px;
    padding-top: 45px;
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.job-two {
    font-size: medium;
    padding-left: 50px;
    padding-top: 45px;
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.job-three {
    font-size: medium;
    padding-left: 50px;
    padding-top: 45px;
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.job-points {
    list-style-type: circle;
    color: #8EA8C3;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 40px;
    text-align: left;
}


@media (min-width: 768px) { /* Desktop view */
    .experience {
        font-size: 40px;
        margin-left: 160px;
    }

    .job-one, .job-two, .job-three {
        padding-top: 0;
        margin-top: 0;
        margin-left: 20px;
        margin-right: 80px;
    }
}