html {
    background-color: #1F3452;
    scroll-behavior: smooth;
}

/*functionality for navbar*/
.navbar {
    margin: 1rem 0;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s ease;
}

.navbar-visible {
    transform: translateY(0);
    opacity: 1;
}
/* end of navbar functionality*/

/*This is for intro functionality/*/
.fade-in-section {
    margin: 1rem 0;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s ease;
}

.fade-in-section-visible {
    transform: translateY(0);
    opacity: 1;
}
/*end of intro functionality*/

body {
    font-family: NTR, sans-serif;
}


.me-image {
    text-align: -webkit-center;
}

.me-img {
    max-width: 600px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
}

.hi-i-am {
    color: #B9DCFF;
    text-align: center;
    font-size: 42px;
    margin-top: 20px;
}

.intro-name {
    color: #4fe0dc;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-top: 16px;
}

/* Typing animation */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #4fe0dc; }
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #4fe0dc;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.subtitle {
    font-size: 18px;
    color: #8EA8C3;
}

.subtitle-intro {
    max-width: 600px;
    margin: auto;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    color: #8EA8C3;
    text-align: center;
}

.button {
    text-align: center;
}

@media (min-width: 1024px) {
    .me-img {
        width: 800px;
    }

    .hi-i-am {
        font-size: 53px;
    }

    .intro-name {
        font-size: 53px;
    }

    .subtitle, .subtitle-intro {
        font-size: 22px;
    }

    .button button {
        font-size: 20px;
        padding: 12px 24px;
    }
}