html {
    background-color: #1F3452;
}

body {
    font-family: NTR, sans-serif;
}


.me-image {
    text-align: -webkit-center;
}

.me-img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
}

.hi-i-am {
    color: #B9DCFF;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.intro-name {
    color: #4fe0dc;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 20px;
}

.subtitle {
    font-size: 14px;
    color: #8EA8C3;
}

.subtitle-intro {
    max-width: 600px;
    margin: auto;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    color: #8EA8C3;
    text-align: center;
}

.button {
    text-align: center;
}