html {
    background-color: #1F3452;
}

body {
    font-family: NTR, sans-serif;
}


.me-image {
    text-align: -webkit-center;
}

.me-img {
    max-width: 280px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
}

.hi-i-am {
    color: #B9DCFF;
    text-align: center;
    font-size: 42px;
    margin-top: 20px;
}

.intro-name {
    color: #4fe0dc;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-top: 16px;
}

.subtitle {
    font-size: 18px;
    color: #8EA8C3;
}

.subtitle-intro {
    max-width: 600px;
    margin: auto;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    color: #8EA8C3;
    text-align: center;
}

.button {
    text-align: center;
}



@media (min-width: 1024px) {
    .me-img {
        width: 800px; /* Increase image size */
    }

    .hi-i-am {
        font-size: 53px; /* Increase font size */
    }

    .intro-name {
        font-size: 53px; /* Increase font size */
    }

    .subtitle, .subtitle-intro {
        font-size: 18px; /* Increase font size */
    }

    .button button {
        font-size: 16px; /* Increase font size */
        padding: 12px 24px; /* Increase padding */
    }
}